::-webkit-scrollbar {
    display: none;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background: linear-gradient(0deg, rgba(119,105,242,1) 0%, rgba(105,233,242,1) 70%, rgba(105,242,109,1) 100%);
    background-repeat: no-repeat;
    min-height: 100vh;
}
a{
    text-decoration: none;
    color: black;
}
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
ul{
    list-style-type: none;
}
.note{
    margin: 1vh 2vw;
    width: 40.9vw;
    background-color: white;
    padding: 25px;
    border-radius: 25px;
    font-size: large;
    height: 50vh;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}




.navitems{
    margin: 1.5vh 5vw;
}
.navlinks{
    cursor: pointer;
    color: black;
}
#active{
    font-weight: 800;
}
#greet{
    margin-left: 30vw;
    font-weight: bolder;
}
#navlist{
    font-size: 1.5em;
}






#save_note_section{
    margin-top: 5vh;
}
#save_note_container{
    flex-direction: column;
}
#save_note_div{
    width:35vw;
    height: 20vh;
    background-color: white;
    outline: none;
    border-radius: 25px;
    padding: 25px;
    overflow: scroll;
}
#save_note_txtarea{
    display: none;
}
#save_note{
    border: none;
    background-color: white;
    border-radius: 10px;
    /* margin-top: 2vh; */
    margin: 2vh 2vw;
    width: 6vw;
    height: 2.5vh;
    font-size: larger;
}





#notes_section{
    margin-top: 10vh;
}
#notes_head{
    text-align: center;
    font-size: xx-large;
    margin-bottom: 2.5vh;
}
#notes_div{
    flex-wrap: wrap;
    justify-self: start;
}
.FormDiv{
    display: flex;
    flex-direction: row;
}
.updateNote{
    display: none;
}
.prevNote{
    display: none;
}
.notePara{
    margin: 0vh 0vh 10vh 0vh;
}
.noteParaTwo{
    padding: 10px;
    height: auto;
    border: solid #262626 2.5px;
    margin: 5vh 0;
}
.Input{
    background-color: black;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    margin: 5vh 5vw 0 0;
}